#container {
     width: 600px;
     height: 300px;
     display: flex;
}
.item {
     width: 300px;
     height: 300px;
     background: lightblue;
     border: 20px solid gray;
     padding:30px;
     box-sizing: border-box;
 
}
.inner-item {
     width: 200px;
     height: 200px;
     background: lightgreen;
}
#box {
     background: lightskyblue;
     color: white;
     text-align: center;
     box-sizing: border-box;
     margin: 50px;
     padding: 20px;
}
div{
     background: lightseagreen;
     width: 800px;
     height: 150;
}
#footer {
     background: blue;
     text-align: center;
}
h3{
     color: #cc3355;
     text-align: center;
}
#divId {
     width: 300px;
     height: 400px;
     border: 1px solid black;
     overflow: visible ;
     font-family: 'Liu Jian Mao Cao', cursive;
     text-size-adjust: 3.2em;
}